body {
    font-family: verdana
}

div {
    margin: 0px;
    padding: 0px;
}

.left {
    width: 65%;
    float: left;
}

.right {
    width: 30%;
    float: left;
    margin-left: 10px;
}

.from {
    color: #333333;
    font-style: italic;
}

.title {
    background-color: #B37541;
    font-weight: bold;
    padding: 5px;
}

.content {
    margin-bottom: 10px;
    border: 2px solid #B37541;
    padding: 5px;
}

.opening .title{
    background-color: #B37541;
}

.opening .content{
    border: 2px solid #B37541;
}

.opening .to {
    font-size: 8em;
}

.opening .content{
    margin-bottom: 0px;
}

.count .title {
    background-color: #DECBA1;
}

.count .content {
    padding: 9px;
    font-size: 6em;
    border: 2px solid #DECBA1;
}

.openbutton {
    text-align: right;
    background-color: #B37541;
}

.label{
    display: inline-block;
    width: 60px;
}

.ondeck .title {
    background-color: #DECBA1;
}

.ondeck .content {
    border: 2px solid #DECBA1;
}

.ondeck .from {
    font-size: 0.75em;
}

ul {
    list-style: none;
    text-indent: -1.5em;
}

li::before {
    content: '» ';
}

.stats .title {
    background-color: #DECBA1;
}

.stats .content {
    border: 2px solid #DECBA1;
}
